<div id="<%= dom_id comment %>">
  <p>
    <strong>Karma:</strong>
    <%= comment.karma %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user.username %>
  </p>

  <p>
    <strong>Subreddit:</strong>
    <%= comment.post.subreddit.name %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comment.post.title %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= comment.created_at %>
  </p>

</div>
