<p style="color: green"><%= notice %></p>

<%= render @post_vote %>

<div>
  <%= link_to "Edit this post vote", edit_post_vote_path(@post_vote) %> |
  <%= link_to "Back to post votes", post_votes_path %>

  <%= button_to "Destroy this post vote", @post_vote, method: :delete %>
</div>
