<p style="color: green"><%= notice %></p>

<%= render @comment_vote %>

<div>
  <%= link_to "Edit this comment vote", edit_comment_vote_path(@comment_vote) %> |
  <%= link_to "Back to comment votes", comment_votes_path %>

  <%= button_to "Destroy this comment vote", @comment_vote, method: :delete %>
</div>
