<p style="color: green"><%= notice %></p>

<h1>User <%=@user.username %></h1>
Post karma: <%= @user.post_karma %>
Comment karma: <%= @user.comment_karma %>

<div id="posts"></div>
<%= turbo_frame_tag "pagination", src: user_page_path(format: :turbo_stream), loading: :lazy %>
