<div id="<%= dom_id vote %>">
  <p>
    <strong>Value:</strong>
    <%= vote.value %>
  </p>

  <p>
    <strong>Voteable type:</strong>
    <%= vote.voteable_type %>
  </p>

  <p>
    <strong>Voteable:</strong>
    <%= vote.voteable_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vote.user_id %>
  </p>

</div>
