<p style="color: green"><%= notice %></p>

<%= render @subreddit %>

<div>
  <%= link_to "Edit this subreddit", edit_subreddit_path(@subreddit) %> |
  <%= link_to "Back to subreddits", subreddits_path %>

  <%= button_to "Destroy this subreddit", @subreddit, method: :delete %>
</div>
